<h1>New Member</h1>

<%= form_with url: "/gyms/#{@gym.id}/members", method: :post, local: true do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <br>
  <%= form.label :money_spent %>
  <%= form.number_field :money_spent %>
  <br>
  <%= form.label :co_resident %>
  <%= form.check_box :co_resident %>
  <br>
  <%= form.submit "Create Member" %>
<% end %>