<h1>New Gym</h1>

<%= form_with url: "/gyms/", method: :post, local: true do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>

  <%= form.label :member_cost %>
  <%= form.number_field :member_cost %>

  <%= form.label :guest_cost %>
  <%= form.number_field :guest_cost %>

  <%= form.label :in_colorado %>
  <%= form.check_box :in_colorado %>

  <%= form.submit "Create Gym" %>

<% end %>